@{
	ViewBag.Title = "Main Page";
}

<div class="jumbotron">
	<h1>Household</h1>
	<p class="lead">Welcome to our household management system</p>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel-finance panel-main-clickable" onclick="document.location = '@Url.Action("Finance", "Finance")'">
			<div>
				<h2>Finance</h2>
				<p>Expenses, purchases and monthly bills</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel-work panel-main-clickable" onclick="document.location = '@Url.Action("Work", "Work")';">
			<div>
				<h2>Work</h2>
				<p>Manage your working hours</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel-homeHDD panel-main-clickable" onclick="document.location = '@Url.Action("HomeHDD", "HomeHDD")';">
			<div>
				<h2>Home-HDD</h2>
				<p>Come on in and manage your documents and pictures</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel-serverManager panel-main-clickable" onclick="document.location = '@Url.Action("ServerManager", "ServerManager")'">
			<div>
				<h2>Server Manager</h2>
				<p>Check out the server and look what's going on in the world</p>
			</div>
		</div>
	</div>
</div>
@section scripts{
	@Scripts.Render("~/bundles/Helpers")
	<script type="text/javascript">
		var intervalEnvironment;

		(function () {
			setInterval(setEnvironment, 200);
		})();

		function setEnvironment() {
			clearInterval(intervalEnvironment);

			Helpers.HttpRequests.CreateAsyncRequestHandlerPOST('@Url.Action("SetEnvironment", "Home")', Helpers.HttpRequests.GetContentTypeText()).send();
		}
	</script>
}