@model Household.BL.DATA.txx.CBankAccountData

<div class="w90" style="margin-left: auto; margin-right: auto;">
	<div class="row">
		<span class="control-label">@Html.LabelFor(m => m.AccountName) : @Html.DisplayFor(m => m.AccountName)</span>
	</div>
	<div class="row">
		<span class="control-label">@Html.LabelFor(m => m.BankName) : @Html.DisplayFor(m => m.BankName)</span>
	</div>
	<div class="row">
		<span class="control-label">@Html.LabelFor(m => m.IBAN) : @Html.DisplayFor(m => m.IBAN)</span>
	</div>
	<div class="row">
		<span class="control-label">@Html.LabelFor(m => m.BIC) : @Html.DisplayFor(m => m.BIC)</span>
	</div>
</div>