@using Household.Localisation.Common
@using Household.Localisation.Main.MasterData

@model Household.BL.DATA.txx.CIntervalData

<div class="row">
	<div class="col-xs-12">
		<h3>@IntervalText.Interval</h3>
	</div>
	<div class="col-xs-12 mB10">
		<input type="button" class="button-default" id="btnSave" value="@GeneralText.Save" onclick="Interval.Save();" />
		<input type="button" class="button-default" id="btnDelete" value="@GeneralText.Delete" onclick="Interval.Delete();" />
		<input type="button" class="button-default" id="btnClose" value="@GeneralText.Close" onclick="Common.hideSubContent();" />
	</div>
	<div class="col-xs-12">
		<ul class="" id="ulError"></ul>
	</div>
</div>
<form class="row">
	@Html.DisplayForModel()
</form>

<script type="text/javascript">
	(function () {
		if(@Model.ID < 1){$('#btnDelete').remove();}
	})();
</script>