@using Household.Localisation.Common;
@using Household.Localisation.Main.Work;
@using GARTE.TypeHandling

@model Household.Models.Work.CWorkHoursModel

<div class="row">
	<div class="fLeft">
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")">Home</a></li>
			<li><a href="@Url.Action("Work", "Work")">Work</a></li>
			<li>@WorkText.WorkHours</li>
		</ol>
	</div>
	<div class="fClear"></div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="divSearch" title="@GeneralText.Search" />
		<div class="searchContainer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span>@WorkText.WorkDayFrom @GeneralText.DateFormat</span><input type="text" id="tbxSearchWorkDayFrom" value="@Base.convertShortDateString(Model.SearchModel.WorkDayFrom)" />
				</div>
				<div class="col-xs-12 col-sm-6">
					<span>@WorkText.WorkDayTo @GeneralText.DateFormat</span><input type="text" id="tbxSearchWorkDayTo" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>@WorkText.Begin @GeneralText.TimeFormat</span><input type="text" id="tbxSearchBegin" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>@WorkText.End @GeneralText.TimeFormat</span><input type="text" id="tbxSearchEnd" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>@WorkText.BreakDuration</span><input type="text" id="tbxSearchBreakDuration" value="" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 pT4">
					<button id="btnSearch">@GeneralText.Search</button><button id="btnSearchCancel">@GeneralText.Cancel</button>
				</div>
			</div>
		</div>
		<div class="fClear"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="divWorkHours" class="contentContainer">
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function () {
		Common.ActivateSearch('@Url.Action("Search", "Work")', '#divWorkHours', function () {
			return {
				WorkDayFrom: $('#tbxSearchWorkDayFrom').val(),
				WorkDayTo: $('#tbxSearchWorkDayTo').val(),
				Begin: $('#tbxSearchBegin').val(),
				End: $('#tbxSearchEnd').val(),
				BreakDuration: $('#tbxSearchBreakDuration').val()
			};
		});

		$(function () { Common.Search(); Common.ToggleSearch(); });
	})
</script>
