@using Household.Localisation.Main.Work;

@{
	ViewBag.Title = "Work";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divContent" class="container">
	<ol class="breadcrumb">
		<li><a href="@Url.Action("Index", "Home")">Home</a></li>
		<li>@WorkText.Work</li>
	</ol>
	<div class="row">
		<div>
			<div class="panel-main-clickable panel-workHours" onclick="Common.LoadContent('@Url.Action("WorkHours", "Work")');">
				<div>
					<h2>@WorkText.WorkHours</h2>
					<p>@WorkText.ManageYourWorkingHours</p>
				</div>
			</div>
		</div>
	</div>
</div>
@section scripts{
	@Scripts.Render("~/bundles/MasterData")
}