@using Household.Localisation.Main.Work;
@using Household.MvcExtensions
@using Household.Localisation.Common
@using Household.Controllers

@{
	ViewBag.Title = WorkText.Work;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divContent" class="container">
	<ol class="breadcrumb">
		<li>@Html.ActionLinkHome(GeneralText.Home, nameof(HomeController.Index))</li>
		<li>@WorkText.Work</li>
	</ol>
	<div class="row">
		<div>
			<div class="panel-main-clickable panel-workHours" onclick="Common.LoadContent('@Url.ActionWork(nameof(WorkController.WorkHours))');">
				<div>
					<h2>@WorkText.WorkHours</h2>
					<p>@WorkText.ManageYourWorkingHours</p>
				</div>
			</div>
		</div>
	</div>
</div>
@section scripts{
	@Scripts.Render("~/bundles/MasterData")
}