@using Household.Localisation.Main.Finance
@using Household.Localisation.Common

@model Household.Models.Finance.CExpenseModel

<div class="row">
	<div class="col-xs-12">
		<h3>@ExpenseText.Expense</h3>
	</div>
	<div class="col-xs-12 mB10">
		<input type="button" class="button-default" id="btnSave" value="@GeneralText.Save" onclick="Expense.Save();" />
		<input type="button" class="button-default" id="btnDelete" value="@GeneralText.Delete" onclick="Expense.Delete();" />
		<input type="button" class="button-default" id="btnClose" value="@GeneralText.Close" onclick="Common.hideSubContent();" />
	</div>
	<div class="col-xs-12">
		<ul class="" id="ulError"></ul>
	</div>
</div>
<form class="row">
	@Html.EditorForModel()
</form>

@Scripts.Render("~/bundles/Expense")
<script type="text/javascript">
	(function () {
		if(@Model.Expense.ID < 1){$('#btnDelete').remove();}
	})();
</script>