@using Household.Localisation.Main.Import
@using Household.MvcExtensions
@using Household.Controllers
@using Household.Localisation.Common

@model string

@{
	ViewBag.Title = ImportText.ImportFailed;
	Layout = "~/Views/Shared/_Layout.cshtml";
	string[] error = Model.Split(Environment.NewLine.ToCharArray());
}

<div id="divContent" class="container">
	<ol class="breadcrumb">
		<li>@Html.ActionLinkHome(GeneralText.Home, nameof(HomeController.Index))</li>
		<li>@Html.ActionLinkImport(ImportText.Import, nameof(ImportController.Index))</li>
		<li>@ImportText.ImportFailed</li>
	</ol>

	<h1>@ImportText.ImportFailed</h1>
	@Html.DisplayFor(model => error, "ErrorList")
</div>