@using Household.MvcExtensions;

@model Household.BL.DATA.txx.Implementations.CCompanyData

@{
	string m_strBaseAction = Url.ActionCompany("");
}

<div class="w100">
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Name)
		@Html.KnockoutTextBox("tbxName", "value: Name", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Description)
		@Html.KnockoutTextBox("tbxDescription", "value: Description", false)
	</div>
</div>

@Scripts.Render("~/bundles/Company")
<script type="text/javascript">
	(function () {
		Company.Fill('@Html.Raw(m_strBaseAction)', @Model.ID, '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Name))', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Description))');
		MasterData.start();
		Company.start();
	})();
</script>