@using Household.Localisation.Common;
@using Household.MvcExtensions;

@model Household.Models.Work.CWorkDayModel

@using GARTE.TypeHandling;

@{
	var m_strBaseAction = Url.Action("", "Work");
	var m_workDay = Base.convertShortDateString(Model.WorkDay.WorkDay);
	var m_begin = Base.convertShortTimeString(Model.WorkDay.Begin);
	var m_end = Base.convertShortTimeString(Model.WorkDay.End);
	var m_breakDuration = Base.convertDec(Model.WorkDay.BreakDuration);
}

<div class="w100">
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.WorkDay.WorkDay)<span> @GeneralText.DateFormat</span>
		@Html.KnockoutTextBox("tbxWorkDay", "value: WorkDay", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="w100"></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.WorkDay.Begin)<span> @GeneralText.TimeFormat</span>
		@Html.KnockoutTextBox("tbxBegin", "value: Begin", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.WorkDay.End)<span> @GeneralText.TimeFormat</span>
		@Html.KnockoutTextBox("tbxEnd", "value: End", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.WorkDay.BreakDuration)
		@Html.KnockoutTextBox("tbxBreakDuration", "value: BreakDuration", true)
	</div>
</div>

@Scripts.Render("~/bundles/WorkDay")
<script type="text/javascript">
	(function () {
		WorkDay.Fill('@Html.Raw(m_strBaseAction)', @Model.WorkDay.ID, '@m_workDay', '@m_begin', '@m_end', @m_breakDuration);
		MasterData.start();
		WorkDay.Start();
	})();
</script>