@using Household.Localisation.Common

@model string

@{
	var m_Save = Model + ".Save();";
	var m_Delete = Model + ".Delete();";
}

<div class="col-xs-12 mB10">
	<input type="button" class="button-default" id="btnSave" value="@GeneralText.Save" title="@GeneralText.Save" onclick="@m_Save" />
	<input type="button" class="button-default" id="btnDelete" value="@GeneralText.Delete" title="@GeneralText.Delete" onclick="@m_Delete" />
	<input type="button" class="button-default" id="btnClose" value="@GeneralText.Close" title="@GeneralText.Close" onclick="Common.hideSubContent();" />
</div>