@using Household.Localisation.Common
@using Household.Localisation.Main.Finance
@using Household.Localisation.Main.Work
@using Household.Localisation.Main
@using Household.Localisation.Main.Import
@using Household.MvcExtensions
@using Household.Controllers
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - @GeneralText.Household</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("styles", required: false)
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLinkHome(GeneralText.Household, nameof(HomeController.Index), null, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLinkFinance(FinanceText.Finance, nameof(FinanceController.Finance))</li>
					<li>@Html.ActionLinkWork(WorkText.Work, nameof(WorkController.Work))</li>
					<li>@Html.ActionLinkHomeHDD(HomeHDDText.HomeHDD, nameof(HomeHDDController.HomeHDD))</li>
					<li>@Html.ActionLinkServerManager(ServerManagerText.ServerManager, nameof(ServerManagerController.ServerManager))</li>
					<li>@Html.ActionLinkImport(ImportText.Import, nameof(ImportController.Index))</li>
				</ul>
				@*@Html.Partial("_LoginPartial")*@
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - @GeneralText.Household</p>
		</footer>
	</div>
	@Scripts.Render("~/bundles/jquery", "~/bundles/pleaseWait", "~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
