@using Household.Localisation.Common;
@using Household.Models.DisplayTable

@model Household.Models.CMasterData

@{
	CDisplayTable m_dtTable = Model.DisplayTable;

	if (m_dtTable == null) { m_dtTable = new CDisplayTable(); }
}

@if (Model != null)
{
	<ol class="breadcrumb" id="olBC_MasterData">
		@Html.Partial("~/Views/Shared/_BreadCrumbsPartial.cshtml", Model.BreadCrumbs)
	</ol>
	if (!string.IsNullOrEmpty(m_dtTable.AddAction))
	{
		<div class="row">
			<input type="button" class="mL30" id="btnAdd" title="@GeneralText.AddEntry" value="@GeneralText.Add" onclick="Common.LoadSubContent('@Url.Action(m_dtTable.AddAction, m_dtTable.AddController, new { id = 0})');Common.showSubContent();" />
		</div>
	}
	<div class="row">
		<table id="tblDisplay" class="@m_dtTable.CSS">
			@if (m_dtTable.Head.Count > 0)
				{
				<thead>
					@Html.Partial("~/Views/Shared/_MasterDataHeaderFooterPartial.cshtml", m_dtTable.Head)
				</thead>
				}
			@if (m_dtTable.Body.Count > 0)
				{
				<tbody>
					@Html.Partial("~/Views/Shared/_MasterDataBodyPartial.cshtml", m_dtTable.Body)
				</tbody>
				}
			@if (m_dtTable.Foot.Count > 0)
				{
				<tfoot>
					@Html.Partial("~/Views/Shared/_MasterDataHeaderFooterPartial.cshtml", m_dtTable.Foot)
				</tfoot>
				}
		</table>
	</div>
	<div class="row">
		<div id="divSubContent" class="invisible"></div>
	</div>
	@Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript">
		$(document).ready(function () {
			window.document.title = '@Model.Title';
			MasterData.OnClickAdd = '@Url.Action(m_dtTable.AddAction, m_dtTable.AddController)';
			MasterData.setupHideables();
		});
	</script>
}