@using Household.MvcExtensions;

@model Household.BL.DATA.txx.CBankAccountData

@{
	string m_strBaseAction = Url.Action("", "BankAccount");
}

<div class="w100">
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.AccountName)
		@Html.KnockoutTextBox("tbxAccountName", "value: AccountName", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.BankName)
		@Html.KnockoutTextBox("tbxBankName", "value: BankName", false)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.IBAN)
		@Html.KnockoutTextBox("tbxIBAN", "value: IBAN", true)
		@*<input type="text" id="tbxIBAN" data-bind="value: IBAN" maxlength="27" required />*@
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.BIC)
		@Html.KnockoutTextBox("tbxBIC", "value: BIC", false)
	</div>
</div>

@Scripts.Render("~/bundles/BankAccount")
<script type="text/javascript">
	(function () {
		BankAccount.Fill('@Html.Raw(m_strBaseAction)', @Model.ID, '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AccountName))', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BankName))', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.IBAN))', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BIC))');
		MasterData.start();
		BankAccount.start();
	})();
</script>