@using Household.MvcExtensions;

@model Household.BL.DATA.txx.Implementations.CDayData

@{
	string m_strBaseAction = Url.ActionDay("");
}

<div class="w100">
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Day)
		@Html.KnockoutTextBox("tbxDay", "value: Day", true)
	</div>
</div>

@Scripts.Render("~/bundles/Day")
<script type="text/javascript">
	(function () {
		Day.Fill('@Html.Raw(m_strBaseAction)', @Model.ID, '@Model.Day');
		MasterData.start();
		Day.start();
	})();
</script>