@using GARTE.TypeHandling;
@using Household.MvcExtensions;

@model Household.Models.MasterData.CIncomeModel

@{
	string m_strBaseAction = Url.ActionIncome("");
}

<div class="w100">
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Income.StartDate)<span> (dd.mm.yyyy)</span>
		@Html.KnockoutTextBox("tbxStart", "value: StartDate", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Income.EndDate)<span> (dd.mm.yyyy)</span>
		@Html.KnockoutTextBox("tbxEnd", "value: EndDate", false)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Intervals)
		@Html.KnockoutDropDownListFor(m => m.Intervals, "cboInterval", "value: Interval_ID", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Days)
		@Html.KnockoutDropDownListFor(m => m.Days, "cboDay", "value: Day_ID", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.BankAccounts)
		@Html.KnockoutDropDownListFor(m => m.BankAccounts, "cboBankAccount", "value: Payee_ID", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Companies)
		@Html.KnockoutDropDownListFor(m => m.Companies, "cboCompany", "value: Company_ID", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Income.Amount)<span>(€)</span>
		@Html.KnockoutTextBox("tbxAmount", "value: Amount", true)
	</div>
	<div class="col-xs-12">
		@Html.LabelFor(m => m.Income.Description)
		<textarea id="tbxDescription" data-bind="value: Description" />
	</div>
</div>

@Scripts.Render("~/bundles/Income")
<script type="text/javascript">
	(function () {
		Income.Fill('@Html.Raw(m_strBaseAction)', @Model.Income.ID, '@Base.convertShortDateString(Model.Income.StartDate)', '@Base.convertShortDateString(Model.Income.EndDate)',
					@Base.convertLong(Model.Income.Interval_ID).ToString(), @Base.convertLong(Model.Income.Day_ID).ToString(), @Base.convertLong(Model.Income.Payee_ID).ToString(),
					@Base.convertLong(Model.Income.Company_ID).ToString(), '@Model.Income.Amount.ToString("N2")', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Income.Description))');
		MasterData.start();
		Income.start();
	})();
</script>