@using Household.MvcExtensions;

@model Household.BL.DATA.t.CPersonData

@{
	string m_strBaseAction = Url.ActionPerson("");
}

<div class="w100">
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Surname)
		@Html.KnockoutTextBox("tbxSurname", "value: Surname", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Forename)
		@Html.KnockoutTextBox("tbxForename", "value: Forename", false)
	</div>
</div>

@Scripts.Render("~/bundles/Person")
<script type="text/javascript">
	(function () {
		Person.Fill('@Html.Raw(m_strBaseAction)', @Model.ID, '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Surname))', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Forename))');
		MasterData.start();
		Person.start();
	})();
</script>