@using GARTE.TypeHandling;
@using Household.Localisation.Common;
@using Household.MvcExtensions;
@using Household.Models.Finance;

@model CPurchaseModel

@{
	string m_strBaseAction = Url.ActionPurchases("");
}

<div class="w100">
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Purchase.Occurrence)<span> @GeneralText.DateFormat</span>
		@Html.KnockoutTextBox("tbxDate", "value: Occurrence", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Purchase.Amount)<span> (€)</span>
		@Html.KnockoutTextBox("tbxAmount", "value: Amount", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.Shops)
		@Html.KnockoutDropDownListFor(m => m.Shops, "cboShop", "value: Shop_ID", true)
	</div>
	<div class="col-xs-12 col-sm-6">
		@Html.LabelFor(m => m.BankAccounts)
		@Html.KnockoutDropDownListFor(m => m.BankAccounts, "cboBankAccount", "value: Payer_ID", true)
	</div>
	<div class="col-xs-12">
		@Html.LabelFor(m => m.Purchase.Description)
		<textarea id="tbxDescription" data-bind="value: Description" />
	</div>
</div>

@Scripts.Render("~/bundles/Purchase")
<script type="text/javascript">
	(function () {
		Purchase.Fill('@m_strBaseAction', @Model.Purchase.ID, '@Base.convertShortDateString(Model.Purchase.Occurrence)', @Base.convertLong(Model.Purchase.Shop_ID).ToString(),
						@Base.convertLong(Model.Purchase.Payer_ID).ToString(), '@Model.Purchase.Amount.ToString("N2")', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Purchase.Description))');
		MasterData.start();
		Purchase.start();
	})();
</script>