@model Household.BL.Interfaces.txx.IShop

@{
	string m_strBaseAction = Url.Action("", "Shop");
}

<div class="row">
	<div class="col-xs-12">
		<h3>Shop</h3>
	</div>
	<div class="col-xs-12 mB10">
		<input type="button" class="button-default" id="btnSave" value="Save" onclick="Shop.Save();" />
		<input type="button" class="button-default" id="btnDelete" value="Delete" onclick="Shop.Delete();" />
		<input type="button" class="button-default" id="btnClose" value="Close" onclick="Common.hideSubContent();" />
	</div>
	<div class="col-xs-12">
		<ul class="" id="ulError"></ul>
	</div>
</div>
<form class="row">
	<div class="col-xs-12 col-sm-6">
		<span>Name</span>
		<input type="text" id="tbxName" data-bind="value: Name" required />
	</div>
	<div class="col-xs-12 col-sm-6">
		<span>Description</span>
		<input type="text" id="tbxDescription" data-bind="value: Description" />
	</div>
</form>

@Scripts.Render("~/bundles/Shop")
<script type="text/javascript">
	(function () {
		Shop.Fill('@Html.Raw(m_strBaseAction)', @Model.ID, '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Name))', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Description))');
		MasterData.start();
		Shop.start();

		if(@Model.ID < 1){$('#btnDelete').remove();}
	})();
</script>