
@{
	ViewBag.Title = "Finance";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divContent" class="container">
	<ol class="breadcrumb">
		<li><a href="@Url.Action("Index", "Home")">Home</a></li>
		<li>Finance</li>
	</ol>
	<div class="row">
		<div class="col-md-3">
			<div class="panel-purchases" onclick="Common.LoadContent('@Url.Action("Purchases", "Finance")');">
				<div>
					<h2>Purchases</h2>
					<p>Add, edit and delete purchases</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel-expenses" onclick="Common.LoadContent('@Url.Action("Expenses", "Finance")');">
				<div>
					<h2>Expenses</h2>
					<p>Manage your monthly bills</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel-reports" onclick="Common.LoadContent('@Url.Action("Reports", "Finance")');">
				<div>
					<h2>Reports</h2>
					<p>Create reports of your financial state</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel-masterData" onclick="document.location='@Url.Action("MasterData", "Finance")';">
				<div>
					<h2>Master Data</h2>
					<p>People, bank accounts, companies, shops and so on</p>
				</div>
			</div>
		</div>
	</div>
</div>
@section scripts{
	@Scripts.Render("~/bundles/Finance")
}