@using Household.Localisation.Common;
@using Household.Localisation.Main.Finance;
@using Household.MvcExtensions
@using Household.Controllers

<div class="row">
	<div class="fLeft">
		<ol class="breadcrumb">
			<li>@Html.ActionLinkHome(GeneralText.Home, nameof(HomeController.Index))</li>
			<li>@Html.ActionLinkFinance(FinanceText.Finance, nameof(FinanceController.Finance))</li>
			<li>@PurchaseText.Purchases</li>
		</ol>
	</div>
	<div class="fRight">
		<ul class="pagination">
			<li><button class="button-default" onclick="Common.LoadContent('@Url.ActionFinance(nameof(FinanceController.Expenses))');">@ExpenseText.Expenses</button></li>
			<li><button class="button-default" onclick="Common.LoadContent('@Url.ActionFinance(nameof(FinanceController.Reports))');">@ReportText.Reports</button></li>
		</ul>
	</div>
	<div class="fClear"></div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="divSearch" title="@GeneralText.Search" />
		<div class="searchContainer">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>@GeneralText.From @GeneralText.DateFormat</span><input type="text" id="tbxSearchFrom" value="@DateTime.Today.ToString("01.MM.yyyy")" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>@GeneralText.To @GeneralText.DateFormat</span><input type="text" id="tbxSearchTo" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>@GeneralText.Where</span><input type="text" id="tbxSearchWhere" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>@GeneralText.Who</span><input type="text" id="tbxSearchWho" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>@PurchaseText.Amount (€)</span><input type="text" id="tbxSearchAmount" value="0" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>@PurchaseText.Description</span><input type="text" id="tbxSearchDescription" value="" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 pT4">
					<button id="btnSearch">@GeneralText.Search</button><button id="btnSearchCancel">@GeneralText.Cancel</button>
				</div>
			</div>
		</div>
		<div class="fClear"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="divPurchases" class="contentContainer">
		</div>
	</div>
</div>

<script type="text/javascript">
	Common.ActivateSearch('@Url.ActionPurchases(nameof(PurchasesController.Search))', '#divPurchases', function () {
		return {
			From: $('#tbxSearchFrom').val(),
			To: $('#tbxSearchTo').val(),
			Where: $('#tbxSearchWhere').val(),
			Who: $('#tbxSearchWho').val(),
			Amount: $('#tbxSearchAmount').val(),
			Description: $('#tbxSearchDescription').val()
		};
	});

	$(function () { Common.Search(); Common.ToggleSearch(); });
</script>