@model Household.BL.DATA.txx.CShopData

@{
	string m_strBaseAction = Url.Action("", "Shop");
}

<div class="w100">
	<div class="col-xs-12 col-sm-6">
		<span>Name</span>
		<input type="text" id="tbxName" data-bind="value: Name" required />
	</div>
	<div class="col-xs-12 col-sm-6">
		<span>Description</span>
		<input type="text" id="tbxDescription" data-bind="value: Description" />
	</div>
</div>

@Scripts.Render("~/bundles/Shop")
<script type="text/javascript">
	(function () {
		Shop.Fill('@Html.Raw(m_strBaseAction)', @Model.ID, '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Name))', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Description))');
		MasterData.start();
		Shop.start();
	})();
</script>