@using Household.Localisation.Main.Finance
@using Household.Localisation.Common
@using Household.MvcExtensions
@using Household.Controllers

<div class="row">
	<div class="fLeft">
		<ol class="breadcrumb">
			<li>@Html.ActionLinkHome(GeneralText.Home, nameof(HomeController.Index))</li>
			<li>@Html.ActionLinkFinance(FinanceText.Finance, nameof(FinanceController.Finance))</li>
			<li>@ExpenseText.Expenses</li>
		</ol>
	</div>
	<div class="fRight">
		<ul class="pagination">
			<li><button class="button-default" onclick="Common.LoadContent('@Url.ActionFinance(nameof(FinanceController.Purchases))');">@PurchaseText.Purchases</button></li>
			<li><button class="button-default" onclick="Common.LoadContent('@Url.ActionFinance(nameof(FinanceController.Reports))');">@ReportText.Reports</button></li>
		</ul>
	</div>
	<div class="fClear"></div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="divExpenses" class="contentContainer">
		</div>
	</div>
</div>

<script type="text/javascript">
	Common.LoadContentWithSelector('@Url.ActionExpenses(nameof(FinanceController.Expenses))', '#divExpenses');
</script>