<div class="row">
	<div class="fLeft">
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")">Home</a></li>
			<li><a href="@Url.Action("Finance", "Finance")">Finance</a></li>
			<li>Purchases</li>
		</ol>
	</div>
	<div class="fRight">
		<ul class="pagination">
			<li><button class="button-default" onclick="Common.LoadContent('@Url.Action("Expenses", "Finance")');">Expenses</button></li>
			<li><button class="button-default" onclick="Common.LoadContent('@Url.Action("Reports", "Finance")');">Reports</button></li>
		</ul>
	</div>
	<div class="fClear"></div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="divSearch" title="search" />
		<div class="searchContainer">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>From (dd.mm.yyyy)</span><input type="text" id="tbxSearchFrom" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>To (dd.mm.yyyy)</span><input type="text" id="tbxSearchTo" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>Where</span><input type="text" id="tbxSearchWhere" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>Who</span><input type="text" id="tbxSearchWho" value="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>Amount (€)</span><input type="text" id="tbxSearchAmount" value="0" />
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<span>Description</span><input type="text" id="tbxSearchDescription" value="" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 pT4">
					<button onclick="search();">Search</button>
				</div>
			</div>
		</div>
		<div class="fClear"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="divPurchases" class="contentContainer">
		</div>
	</div>
</div>

<script type="text/javascript">
	Common.LoadContentWithSelector('@Url.Action("Purchases", "Purchases")', '#divPurchases');
	Common.ActivateSearchDiv();

	function search() {
		var objSearch = {};

		objSearch.From = $('#tbxSearchFrom').val();
		objSearch.To = $('#tbxSearchTo').val();
		objSearch.Where = $('#tbxSearchWhere').val();
		objSearch.Who = $('#tbxSearchWho').val();
		objSearch.Amount = $('#tbxSearchAmount').val();
		objSearch.Description = $('#tbxSearchDescription').val();

		Common.Search('@Url.Action("Search", "Purchases")', JSON.stringify({ Search: objSearch }), '#divPurchases');
	}
</script>