@model Household.BL.DATA.txx.Implementations.CBankAccountData
<div class="previewContent">
	<div class="row">
		<div class="col-xs-12">
			@Html.LabelFor(m => m.AccountName) : @Html.DisplayFor(m => m.AccountName)
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			@Html.LabelFor(m => m.BankName) : @Html.DisplayFor(m => m.BankName)
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			@Html.LabelFor(m => m.IBAN) : @Html.DisplayFor(m => m.IBAN)
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			@Html.LabelFor(m => m.BIC) : @Html.DisplayFor(m => m.BIC)
		</div>
	</div>
</div>