@using Household.Localisation.Common
@using Household.Localisation.Main
@using Household.Localisation.Main.Finance
@using Household.Localisation.Main.Work

@{
	ViewBag.Title = "Main Page";
}

<div class="jumbotron">
	<h1>@GeneralText.Household</h1>
	<p class="lead">@GeneralText.WelcomeToOurHouseholdManagementSystem</p>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel-finance panel-main-clickable" onclick="document.location = '@Url.Action("Finance", "Finance")'">
			<div>
				<h2>@FinanceText.Finance</h2>
				<p>@FinanceText.ExpensesPurchasesAndMonthlyBills</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel-work panel-main-clickable" onclick="document.location = '@Url.Action("Work", "Work")';">
			<div>
				<h2>@WorkText.Work</h2>
				<p>@WorkText.ManageYourWorkingHours</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel-homeHDD panel-main-clickable" onclick="document.location = '@Url.Action("HomeHDD", "HomeHDD")';">
			<div>
				<h2>@HomeHDDText.HomeHDD</h2>
				<p>@HomeHDDText.ComeOnInAndManageYourDocumentsAndPictures</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel-serverManager panel-main-clickable" onclick="document.location = '@Url.Action("ServerManager", "ServerManager")'">
			<div>
				<h2>@ServerManagerText.ServerManager</h2>
				<p>@ServerManagerText.CheckOutTheServerAndLookWhatIsGgoingOnInTheWorld</p>
			</div>
		</div>
	</div>
</div>
@section scripts{
	@Scripts.Render("~/bundles/Helpers")
	<script type="text/javascript">
		var intervalEnvironment;

		(function () {
			setInterval(setEnvironment, 200);
		})();

		function setEnvironment() {
			clearInterval(intervalEnvironment);

			Helpers.HttpRequests.CreateAsyncRequestHandlerPOST('@Url.Action("SetEnvironment", "Home")', Helpers.HttpRequests.GetContentTypeText()).send();
		}
	</script>
}